# ANOVA - one way(bivariate analysis- one categorical with one numerical)

In [ ]:
#sample size should be approximately equal
#samples to be distributed normally

In [1]:
from pydataset import data
import scipy.stats as stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd

initiated datasets repo at: C:\Users\Arun Kumar\.pydataset/

In [2]:
chickweights = data('chickwts')
chickweights.head()

   weight       feed
1     179  horsebean
2     160  horsebean
3     136  horsebean
4     227  horsebean
5     217  horsebean

In [4]:
chickweights.groupby('feed').size().reset_index()

        feed   0
0     casein  12
1  horsebean  10
2    linseed  12
3   meatmeal  11
4    soybean  14
5  sunflower  12

In [5]:
chickweights.groupby('feed')['weight'].mean().reset_index()

        feed      weight
0     casein  323.583333
1  horsebean  160.200000
2    linseed  218.750000
3   meatmeal  276.909091
4    soybean  246.428571
5  sunflower  328.916667

In [6]:
# H0 : Feed does not effect the weight
# H1 : Feed has an effect on weight

In [9]:
#creating arrays of different sample

casein = chickweights['weight'][chickweights['feed'] == 'casein']
horsebean = chickweights['weight'][chickweights['feed'] == 'horsebean']
linseed = chickweights['weight'][chickweights['feed'] == 'linseed']
meatmeal = chickweights['weight'][chickweights['feed'] == 'meatmeal']
soybean = chickweights['weight'][chickweights['feed'] == 'soybean']
sunflower = chickweights['weight'][chickweights['feed'] == 'sunflower']
sunflower.head()

37    423
38    340
39    392
40    339
41    341
Name: weight, dtype: int64

In [10]:
#creating the anova model
stats.f_oneway(casein,horsebean,linseed,meatmeal,soybean,sunflower)

F_onewayResult(statistic=15.364799774712534, pvalue=5.936419853471331e-10)

In [12]:
# pvalue(0.00000005) < alpha value(0.05) Hence H0 is rejected

HSD = pairwise_tukeyhsd(chickweights['weight'],chickweights['feed'], alpha = 0.05)
HSD.summary()

In [16]:
#tyre

import os,pandas as pd;
os.chdir("D:\Manipal Pro learn\Term1\EDA\Dataset")

In [17]:
tyre = pd.read_csv("tyre.csv")
tyre.head()

   Brands  Mileage
0  Apollo   32.998
1  Apollo   36.435
2  Apollo   32.777
3  Apollo   37.637
4  Apollo   36.304

In [18]:
tyre['Brands'].unique()

array(['Apollo', 'Bridgestone', 'CEAT', 'Falken'], dtype=object)

In [19]:
apollo = tyre['Mileage'][tyre['Brands'] == 'Apollo']
bridgestone = tyre['Mileage'][tyre['Brands'] == 'Bridgestone']
ceat = tyre['Mileage'][tyre['Brands'] == 'CEAT']
falken = tyre['Mileage'][tyre['Brands'] == 'Falken']

In [20]:
stats.f_oneway(apollo,bridgestone,ceat,falken)

F_onewayResult(statistic=17.941513342446925, pvalue=2.78098919789432e-08)

In [22]:
HSD = pairwise_tukeyhsd(tyre['Mileage'],tyre['Brands'], alpha = 0.05)
HSD.summary()

# Two way ANOVA (two categorical and one numerical)

In [23]:
# H0 - state or exam does not impact marks
# H1 - state or exam impact marks

In [24]:
import pandas as pd
from statsmodels.stats.anova import AnovaRM

In [26]:
exammarks = pd.read_excel("Students Marks.xlsx")
exammarks.head()

   Students Exam  Marks
0  student1   IA     96
1  student1   FA     36
2  student2   IA    100
3  student2   FA     48
4  student3   IA     15

In [28]:
#creating two way anova model

model = AnovaRM(exammarks, 'Marks','Students',within=['Exam'])
fit  = model.fit()
fit.summary()
# p > alpha (0.05) accept H0

<class 'statsmodels.iolib.summary2.Summary'>
"""
              Anova
=================================
     Num DF Den DF F Value Pr > F
---------------------------------
Exam 1.0000 9.0000  3.8012 0.0830
=================================

"""

In [29]:
model = AnovaRM(exammarks, 'Marks','Exam',within=['Students'])
fit  = model.fit()
fit.summary()   
# p > alpha (0.05) accept H0

<class 'statsmodels.iolib.summary2.Summary'>
"""
                Anova
=====================================
         Num DF Den DF F Value Pr > F
-------------------------------------
Students 9.0000 9.0000  1.2216 0.3852
=====================================

"""