In [1]:
import numpy as np,pandas as pd

In [2]:
homicidedata = pd.read_csv("D:/Manipal Pro learn/Term1/EDA/Dataset/homicide.csv")
homicidedata.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI

# Number of Incidents per States per year

In [4]:
statebyyear = homicidedata.groupby(['State','Year'])['Record ID'].count().reset_index()
statebyyear.head()

     State  Year  Record ID
0  Alabama  1980        513
1  Alabama  1981        453
2  Alabama  1982        424
3  Alabama  1983        372
4  Alabama  1984        382

# Which month wife’s have more tendency to hurt husband

In [5]:
wifehurting = homicidedata[(homicidedata['Relationship'] == 'Husband')&(homicidedata['Victim Sex'] == 'Male') & (homicidedata['Perpetrator Sex'] == 'Female')]
wifehurtinghusband = wifehurting.groupby('Month')['Record ID'].count().reset_index().sort_values(by='Record ID',ascending = False)

        Month  Record ID
5        July        827
2    December        765
6        June        758
1      August        755
8         May        740
7       March        724
11  September        718
4     January        707
0       April        656
9    November        650
3    February        644
10    October        641

# Number of incidents involving Ex-husband vs Ex-wife (older or younger)

In [7]:
exhusbanwife = homicidedata[((homicidedata['Relationship'] == 'Ex-Husband')& (homicidedata['Victim Sex'] == 'Male')& (homicidedata['Perpetrator Sex'] == 'Female'))| ((homicidedata['Relationship'] == 'Ex-Wife')& (homicidedata['Victim Sex'] == 'Female')& (homicidedata['Perpetrator Sex'] == 'Male'))]
exhusbanwife.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
15,16,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,August,3,Murder or Manslaughter,...,Unknown,Female,29,Black,Unknown,Ex-Husband,Handgun,0,0,FBI
120,121,AL00102,Birmingham,Municipal Police,Jefferson,Alabama,1980,July,6,Murder or Manslaughter,...,Not Hispanic,Male,44,Black,Not Hispanic,Ex-Wife,Handgun,0,0,FBI
162,163,AL00102,Birmingham,Municipal Police,Jefferson,Alabama,1980,December,8,Murder or Manslaughter,...,Not Hispanic,Female,25,Black,Not Hispanic,Ex-Husband,Handgun,0,0,FBI
296,297,AL00301,Montgomery,Municipal Police,Montgomery,Alabama,1980,November,3,Murder or Manslaughter,...,Unknown,Male,30,Black,Unknown,Ex-Wife,Handgun,0,0,FBI
329,330,AL01101,Anniston,Municipal Police,Calhoun,Alabama,1980,August,3,Murder or Manslaughter,...,Not Hispanic,Male,35,White,Not Hispanic,Ex-Wife,Handgun,0,0,FBI

In [8]:
exhusbanwife['Record ID'].count()

2428

# Number of Incident between Employee and employer

In [9]:
employeeemployer = homicidedata[(homicidedata['Relationship'] == 'Employee') | (homicidedata['Relationship'] == 'Employer')]
employeeemployer.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
1713,1714,CA01900,Los Angeles,Sheriff,Los Angeles,California,1980,September,7,Murder or Manslaughter,...,Hispanic,Male,19,White,Hispanic,Employer,Handgun,0,0,FBI
3091,3092,CA01942,Los Angeles,Municipal Police,Los Angeles,California,1980,December,17,Murder or Manslaughter,...,Hispanic,Male,21,White,Hispanic,Employer,Handgun,0,2,FBI
3683,3684,CA03313,Riverside,Municipal Police,Riverside,California,1980,August,3,Murder or Manslaughter,...,Not Hispanic,Male,28,White,Not Hispanic,Employer,Shotgun,0,0,FBI
4455,4456,CA04313,San Jose,Municipal Police,Santa Clara,California,1980,December,4,Murder or Manslaughter,...,Not Hispanic,Male,26,White,Not Hispanic,Employer,Unknown,0,0,FBI
6065,6066,FL01400,Desoto,Sheriff,De Soto,Florida,1980,February,1,Murder or Manslaughter,...,Not Hispanic,Male,52,White,Not Hispanic,Employee,Blunt Object,0,0,FBI

In [10]:
employeeemployer['Record ID'].count()

893

# Number of Incident based on family relationship

In [18]:
family = ['Brother','Sister','Mother','Son','Daughter','Husband','Wife','Father']
familyhomicide = homicidedata[homicidedata['Relationship'].isin(family)]
familyhomicide.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
6,7,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,May,2,Murder or Manslaughter,...,Unknown,Male,27,Black,Unknown,Wife,Knife,0,0,FBI
7,8,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,June,1,Murder or Manslaughter,...,Unknown,Male,35,White,Unknown,Wife,Knife,0,0,FBI
17,18,AK00103,Juneau,Municipal Police,Juneau,Alaska,1980,November,1,Murder or Manslaughter,...,Unknown,Male,23,Native American/Alaska Native,Unknown,Brother,Blunt Object,0,1,FBI
19,20,AK00113,Bethel,Municipal Police,Bethel,Alaska,1980,February,1,Murder or Manslaughter,...,Unknown,Male,35,Native American/Alaska Native,Unknown,Brother,Handgun,0,0,FBI
23,24,AK00118,North Slope Borough,County Police,North Slope,Alaska,1980,July,1,Manslaughter by Negligence,...,Unknown,Male,41,Unknown,Unknown,Wife,Blunt Object,0,0,FBI

In [19]:
def desc(df):
    if ((df['Relationship'] == 'Brother') & (df['Perpetrator Sex'] == 'Male')):
            return "Brother killed by brother"
    elif ((df['Relationship'] == 'Brother') & (df['Perpetrator Sex'] == 'Female')):
            return "Brother killed by sister"
    elif ((df['Relationship'] == 'Sister') & (df['Perpetrator Sex'] == 'Male')):
            return "Sister killed by brother"
    elif ((df['Relationship'] == 'Sister') & (df['Perpetrator Sex'] == 'Female')):
            return "Sister killed by sister"
    elif ((df['Relationship'] == 'Mother') & (df['Perpetrator Sex'] == 'Male')):
            return "Mother killed by son"
    elif ((df['Relationship'] == 'Mother') & (df['Perpetrator Sex'] == 'Female')):
            return "Mother killed by daughter"
    elif ((df['Relationship'] == 'Father') & (df['Perpetrator Sex'] == 'Male')):
            return "Father killed by son"
    elif ((df['Relationship'] == 'Father') & (df['Perpetrator Sex'] == 'Female')):
            return "Father killed by daughter"
    elif ((df['Relationship'] == 'Son') & (df['Perpetrator Sex'] == 'Male')):
            return "Son killed by father"
    elif ((df['Relationship'] == 'Son') & (df['Perpetrator Sex'] == 'Female')):
            return "Son killed by mother"
    elif ((df['Relationship'] == 'Daughter') & (df['Perpetrator Sex'] == 'Male')):
            return "Daughter killed by father"
    elif ((df['Relationship'] == 'Daughter') & (df['Perpetrator Sex'] == 'Female')):
            return "Daughter killed by mother"
    elif ((df['Relationship'] == 'Husband') & (df['Perpetrator Sex'] == 'Female')):
            return "Husband killed by wife"
    elif ((df['Relationship'] == 'Wife') & (df['Perpetrator Sex'] == 'Male')):
            return "Wife killed by husband"
    else :
        return "unknown"

In [20]:
res = pd.DataFrame()
for i,data in familyhomicide.iterrows():
    cur_row = { 
        "Record ID" : data['Record ID'],
        "Incident description" :desc(data)
    }
    res = res.append(cur_row,ignore_index=True)
familyhomicide = familyhomicide.merge(res)  
familyhomicide.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source,Incident description
0,7,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,May,2,Murder or Manslaughter,...,Male,27,Black,Unknown,Wife,Knife,0,0,FBI,Wife killed by husband
1,8,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,June,1,Murder or Manslaughter,...,Male,35,White,Unknown,Wife,Knife,0,0,FBI,Wife killed by husband
2,18,AK00103,Juneau,Municipal Police,Juneau,Alaska,1980,November,1,Murder or Manslaughter,...,Male,23,Native American/Alaska Native,Unknown,Brother,Blunt Object,0,1,FBI,Brother killed by brother
3,20,AK00113,Bethel,Municipal Police,Bethel,Alaska,1980,February,1,Murder or Manslaughter,...,Male,35,Native American/Alaska Native,Unknown,Brother,Handgun,0,0,FBI,Brother killed by brother
4,24,AK00118,North Slope Borough,County Police,North Slope,Alaska,1980,July,1,Manslaughter by Negligence,...,Male,41,Unknown,Unknown,Wife,Blunt Object,0,0,FBI,Wife killed by husband

In [22]:
familyhomicide.groupby('Incident description')['Record ID'].count().reset_index()

         Incident description  Record ID
0   Brother killed by brother       5016
1    Brother killed by sister        480
2   Daughter killed by father       3884
3   Daughter killed by mother       3603
4   Father killed by daughter        473
5        Father killed by son       3880
6      Husband killed by wife       8614
7   Mother killed by daughter        687
8        Mother killed by son       3551
9    Sister killed by brother       1037
10    Sister killed by sister        251
11       Son killed by father       5983
12       Son killed by mother       3859
13     Wife killed by husband      23058
14                    unknown        472

# gender wise weapon in incidents

In [25]:
homicidedata[(homicidedata['Perpetrator Sex']=='Female') | (homicidedata['Perpetrator Sex']=='Male')].groupby(['Perpetrator Sex','Weapon'])['Record ID'].count().reset_index()

   Perpetrator Sex         Weapon  Record ID
0           Female   Blunt Object       5722
1           Female       Drowning        507
2           Female          Drugs        569
3           Female     Explosives         33
4           Female           Fall         29
5           Female           Fire       1000
6           Female        Firearm       1287
7           Female            Gun         84
8           Female        Handgun      17107
9           Female          Knife      13748
10          Female         Poison        155
11          Female          Rifle       1450
12          Female        Shotgun       1733
13          Female  Strangulation        390
14          Female    Suffocation       1051
15          Female        Unknown       3683
16            Male   Blunt Object      45782
17            Male       Drowning        492
18            Male          Drugs        827
19            Male     Explosives        355
20            Male           Fall        137
21            Male           Fire       3132
22            Male        Firearm      23103
23            Male            Gun       1240
24            Male        Handgun     199776
25            Male          Knife      61015
26            Male         Poison        221
27            Male          Rifle      18486
28            Male        Shotgun      24307
29            Male  Strangulation       4019
30            Male    Suffocation       1927
31            Male        Unknown      14722

# Create the DTM with min_df = .02 and max_df = 0.90 identify the top 3 words

In [26]:
import os
os.chdir('D:\Manipal Pro learn\Term1\EDA\Dataset')
amazonreview = pd.read_excel('amazon.xlsx')
amazonreview.head()

,id,asins,brand,categories,colors,dateAdded,dateUpdated,dimension,ean,keys,...,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sizes,upc,weight
0,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I initially had trouble deciding between the p...,"Paperwhite voyage, no regrets!",NaN,NaN,Cristina M,NaN,NaN,205 grams
1,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,Allow me to preface this with a little history...,One Simply Could Not Ask For More,NaN,NaN,Ricky,NaN,NaN,205 grams
2,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,4.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I am enjoying it so far. Great for reading. Ha...,Great for those that just want an e-reader,NaN,NaN,Tedd Gardiner,NaN,NaN,205 grams
3,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I bought one of the first Paperwhites and have...,Love / Hate relationship,NaN,NaN,Dougal,NaN,NaN,205 grams
4,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I have to say upfront - I don't like coroporat...,I LOVE IT,NaN,NaN,Miljan David Tanic,NaN,NaN,205 grams

In [27]:
import string
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from matplotlib import pyplot as plt
from nltk.corpus import stopwords

In [33]:
amazonreview['clean_txt'] = amazonreview['reviews.text'].str.lower().str.replace('[^a-z ]','')
stop = stopwords.words('english')
def sw(txt):
    txt = [word for word in txt.split() if word not in stop]
    return " ".join(txt)

amazonreview['text_without_stop'] = amazonreview['clean_txt'].apply(sw)
# starting the count vector

vec = CountVectorizer(min_df=0.02,max_df=0.90)
vec.fit(amazonreview['text_without_stop'])
x = vec.fit_transform(amazonreview['text_without_stop'])
DTM  = pd.DataFrame(x.toarray(),columns=vec.get_feature_names())
DTM.sum().nlargest(3)

kindle    1499
fire      1389
like      1235
dtype: int64